<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unsw.back_end.mapper.CommentofcarspaceMapper">
  <resultMap id="BaseResultMap" type="com.unsw.back_end.pojo.Commentofcarspace">
    <id column="commitid" jdbcType="INTEGER" property="commitid" />
    <result column="carspaceid" jdbcType="INTEGER" property="carspaceid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    commitid, carspaceid, `comment`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commentofcarspace
    where commitid = #{commitid,jdbcType=INTEGER}
  </select>
  <select id="selectAllComment" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
    `comment`
    from commentofcarspace
    where carspaceid = #{carspaceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commentofcarspace
    where commitid = #{commitid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="commitid" keyProperty="commitid" parameterType="com.unsw.back_end.pojo.Commentofcarspace" useGeneratedKeys="true">
    insert into commentofcarspace (carspaceid, `comment`)
    values (#{carspaceid,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="commitid" keyProperty="commitid" parameterType="com.unsw.back_end.pojo.Commentofcarspace" useGeneratedKeys="true">
    insert into commentofcarspace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carspaceid != null">
        carspaceid,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carspaceid != null">
        #{carspaceid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unsw.back_end.pojo.Commentofcarspace">
    update commentofcarspace
    <set>
      <if test="carspaceid != null">
        carspaceid = #{carspaceid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where commitid = #{commitid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unsw.back_end.pojo.Commentofcarspace">
    update commentofcarspace
    set carspaceid = #{carspaceid,jdbcType=INTEGER},
      `comment` = #{comment,jdbcType=VARCHAR}
    where commitid = #{commitid,jdbcType=INTEGER}
  </update>
</mapper>